<!DOCTYPE html>
<html>
<head>
    <title><%= title || 'CRUD App' %></title>
    <meta charset="utf-8" />
</head>
<body>
    <header>
        <h1>Node + MongoDB CRUD</h1>
    </header>

    <main>
        <%- body %>
    </main>

    <footer>
        <p>&copy; 2026 CRUD App</p>
    </footer>
</body>
</html>