body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(164, 192, 192);
    padding-bottom: 15px;
}

#items-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

#items-table th,
#items-table td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

#items-table input {
    width: 90%;
    height: 25px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

#summary-section p {
    font-size: 1.1em;
}

button {
    padding: 10px 15px;
    margin-top: 5px;
    background-color: rgb(170, 219, 219);
    color: rgb(8, 20, 19);
}

button:hover{
    background-color:  rgb(8, 20, 19);
    color: rgb(170, 219, 219);
}

p input {
    width: 60px;
    height: 25px;
    background-color: rgb(21, 34, 33);
    color: rgb(184, 243, 237);
}